body{
    background-image: linear-gradient( 90deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
}
.mt-6{
	margin-top: 50px;
}
 
.mb-6{
	margin-bottom: 150px;
}

ul {
    list-style-type: none;
}

.cardsize{
	height: 250px;
}

.darktheme{
	background: rgb(44, 47, 51);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

input[type=number]{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    border: none;
    color:black;
    height: 35px;
    width: 35px;
    background: transparent;
    
}

.mt-10 {
    margin-top: 100px;
}

.ubantuFont {
    font-family: 'Ubuntu', sans-serif;
}

.loginInput {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #aaaaaa;
}

.noBorder {
    border: none;
    background-color: transparent;
}

.noBorder:focus {
    outline-width: 0;
    border: none;
    background-color: transparent;
}

.hoverPointer:hover {
    cursor: pointer;
}

.loginButton {
    border-radius: 5rem;
    background: rgb(49,160,237);
    background: linear-gradient(90deg, rgba(49,160,237,1) 0%, rgba(241,1,236,1) 75%, rgba(253,29,180,1) 100%);
}

.display-6 {
    font-size: 25px;
}